.containerAl {
    border-radius: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    box-shadow: 1px 1px 8px 1px rgb(57, 56, 56);
    width: 35%;
    margin-left: 85px;
    background-color: #fafafa;
}
.containerAl img {
    width: 100%;
}
.divAl{
    background-color: #fafafa;
    height: 100%;
}
  