.menuContainer {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    padding: 10px 0 7px 0;
    background-color: #208f89;
    /* z-index: 999; */
  }
  .itemContainer {
    list-style-type: none;
    width: 7%;
    position: relative;
    /* z-index: 1; */
  }
  .item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    cursor: pointer;
  }
  .item span {
    font-size: 13px;
    color: #ffff;
  }
  .img {
    width: 45%;
    margin-bottom: 6px;
  }
  .item:hover span {
    font-weight: 700;
    text-decoration: underline 4px #dfc103;
  }
  
  .subMenu1 {
    display: flex;
    justify-content: space-around;
    /* z-index: -1;
    opacity: 0; */
    position: absolute;
    top: 73px;
    background-color: #fafafa;
    left: -34px;
    width: 1429%;
    /* display: none; */
    border-radius: 10px;
    visibility: hidden;
    transition: opacity 200ms, visibility 200ms;
  }
  .itemContainer1:hover .subMenu1 {
    /* z-index: 1;
    opacity: 1; */
    /* display: block; */
    display: flex;
    visibility: visible;
  }
  
  .subMenu11 {
    /* display: flex; */
    flex: 1;
  }
  .subMenu11 h6,
  .subMenu12 h6,
  .subMenu13 h6 {
    padding: 20px 0;
  }
  
  .subMenu12 {
    flex: 1;
  }
  .subMenu13 {
    flex: 1;
  }
  .subMenu11,
  .subMenu12,
  .subMenu13 {
    margin-left: 20px;
  }
  .subMenu11 li,
  .subMenu12 li,
  .subMenu13 li {
    /* margin-left: -30px; */
    font-size: 15px;
  }
  .subMenu2 {
    margin-left: -307px;
    width: 1431%;
  }
  .subMenu3 {
    width: 1429%;
    margin-left: -458px;
  }
  .td2 {
    margin-top: -23px;
    margin-left: 100px;
  }
  .subMenu4 {
    width: 1429%;
    margin-left: -611px;
  }
  .subMenu5 {
    width: 1429%;
    margin-left: -764px;
  }
  .subMenu6 {
    width: 1429%;
    margin-left: -1069px;
  }
  