.containerDetail {
  display: grid;
  grid-template-areas: "a b c";
  grid-template-columns: 35% 45% 20%;
  grid-template-rows: auto auto auto;
  background-color: #fafafa;
}
.colImg {
  grid-area: a;
}
.colContent {
  grid-area: b;
}
.colContent .freeShip {
  background-color: #208f89;
  border-radius: 6px;
}
.mgt{
    display: grid;
    grid-template-areas: "m g t";
    grid-template-columns: 37% 37% 26%;
    grid-template-rows: auto auto auto;
}
.mgt div:nth-child(1){
    grid-area: m;
    background-color: rgb(210, 37, 37);
    color: white;
    margin-right: 10px;
    border-radius: 6px;
    text-align: center;
}
.mgt div:nth-child(1):hover{
    background-color: rgb(227, 43, 43);
    cursor: pointer;
}
.mgt div:nth-child(2){
    grid-area: g;
    background-color: rgb(1, 105, 81);
    color: white;
    border-radius: 6px;
    text-align: center;
}
.mgt div:nth-child(2):hover{
    background-color: rgb(2, 128, 99);
    cursor: pointer;
}
.mgt  .button_{
    grid-area: t;
    background-color: rgb(215, 144, 12);
    color: white;
    margin-left: 10px;
    border-radius: 6px;
    text-align: center;
}
.mgt .button_:hover{
    background-color: rgb(226, 151, 12);
    cursor: pointer;
}
.colContent_ {
  grid-area: c;
}
