.formProduct div input {
  border: 1px solid black;
  flex: 4;
  width: 80%;
  border-radius: 7px;
  height: 40px;
  text-indent: 15px;
}
.formProduct div select{
  width: 80%;
  height: 40px;
  border-radius: 7px;
}

#description{
  border: 1px solid black;
  flex: 4;
  width: 80%;
  border-radius: 7px;
  text-indent: 15px;
  height: 90px;
}
.formProduct div label {
  flex: 1;
  margin: auto 0;
}
.formProduct div {
  display: flex;
  margin: 10px 0px;
}
.formProduct {
  padding: 20px;
}
/* .formProduct >input{
    background-color: rgb(24, 24, 24);
    padding: 10px;
    border-radius: 7px;
    color: white;
}
.formProduct >input:hover{
    font-weight: 600;
    background-color: #3a3a3a !important;
} */
