.table {
    border-radius: 20px;
    overflow: auto;
    max-height: 750px;
  }
  
  .table td img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  
  .button {
    /* background-color: #208f89 !important; */
    border: none !important;
    margin-top: 10px;
    /* margin-left: 82%; */
    padding: 8px 10px !important;
    border-radius: 8px;
  }
  .button:hover {
    font-weight: 600;
    background-color: #3a3a3a !important;
  }
  
  .sortAdd {
    width: 80%;
    margin: 0 auto;
  }
  .sort select {
    /* display: inline; */
    border: 1px solid black;
    /* height: 30px; */
    margin-top: 15px;
    border-radius: 7px;
  }
  